/*全局样式表*/
html,body,#app{
    height:100%;
    margin:0;
    padding:0;
}
.TableIndex{
    text-align: center;
}
.box-card{
    margin-top: 20px;
    padding: 20px;
}
.el-table{
    margin-top: 50px;
    border-radius: 5px;
}